@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Robot';
  font-size: 16px;
  font-weight: normal;
  background: #f1f1f1;
  color: #0f141e;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #bd1610;
}

a:visited {
  color: #10bd27;
}

.container {
max-width: 750px;
margin: auto;
padding-top: 30px;
}

.avatar {
  width: 200px;
  border-radius: 100px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, .9);
}

.info-text {
  margin-left: 40px;
}

.info-text p {
  font-style: italic;
  font-weight: bold;
  color: #4b4e55;
  margin-bottom: 20px;
  margin: 0;
}
.info-text h4 {
  margin-bottom: 10px;
}

.info {
  margin-bottom: 20px;
  display: flex;
}

.card {
  /* border: 1px solid black; */
  border-radius: 20px;
  background: #fff;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.bg-yellow {
  background: #f8fc07;
}

.bg-red {
  background: #e64141;
}

.bg-green {
background: #10bd27;
}

.btn {
  background: #111;
  padding: 10px 15px;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.list {
  padding: 0 20px;
  
}

.list li  {
  color: #1a575f;
  margin-bottom: 10px;
}

.table {
  width: 100%;
}
.table td {
  padding-bottom:10px ;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  color: #f1f0b0;
}

.form h2 {
  text-align: center;
}

.form-row {
  margin-bottom: 10px;
  display: flex;
}

@media(max-width: 430px){
  .form-row{
    display: block;
  }
}

.form-row .form-group {
  margin-right: 10px;
  width: 50%;
}

.form-group lable {
  display: block;
  font-size: 14px;
  color: #8dbdc4;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: solid #3b4f52;
  color: #e7edee;
  padding: 8px 0px 3px;
  font-size: 17px;
  outline: none;
  font-family: inherit;
}